.label-input{
padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  input{

    border: 1px solid grey;
    outline: none;
  }
}


@media only screen and (max-width: 600px){
  .label-input{
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;

padding: 0px;


    input{
      height: 3rem;
      margin-top: 10px;

      margin-bottom: 15px;
      border-radius: 5%;
      font-size: 2rem;
    }
  }

}
