<div class="container">
  <div class="box">
    <div class="content">

      <h3>Login to {{websiteName}} </h3>
      <app-input-with-label [label]='"Username"' [inputType]='"text"' ></app-input-with-label>
      <app-input-with-label  [label]='"Password"' [inputType]='"password"' ></app-input-with-label>
      <div class="login-button">
        <div class="material-icons md-36" >login</div>

        <input type="button" [value]="activity">


      </div>
      <div class="sign-up" (click)="switchMode()" >
        <p>
          {{activity==='Login'?'Sign Up?':'Login?'}}
        </p>
      </div>
    </div>


  </div>

</div>
